<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @if (ViewBag.AppSubMessage != null)
                {


                    @ViewBag.AppSubMessage

                }
            </div>
        </div>
    </div>
</div>