
    
        <div class="row page-titles">
            <div class="col-md-5 col-12 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">چک لیست موسسه تعلیمی خصوصی</h3>

            </div>
            <div class="col-md-7 col-12 align-self-center d-none d-md-block">
                <div class="d-flex mt-2 justify-content-end">

                    <div class="">
                        @*<button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2">
                            <i class="ti-settings text-white"></i>
                        </button>*@
                    </div>
                </div>
            </div>
        </div>
 
        <div class="card text-center" style="height:900px; width:auto;">
            @*<div class="card-header">
            Featured
        </div>*@

            <img class="card-img center" src="~/AF_logo/mo.png" alt="Card image" style="margin-top:240px; height:500px; width:500px;display:inline-block;margin-right:269px;">
            <div class="card-img-overlay" >
                <div class="card-body">

                    <div class="text-center p-3 font-weight-bolder">
                        <div>
                            <img src="~/AF_logo/MOE_logo_lic.png" style="width:auto; height:90px;" />
                        </div>
                        <br />
                        <div class="text-center">
                            <h4 class="font-weight-bold" style="color:black;">
                                <span>
                                    جواز فعالیت
                                </span><br />
                                <span>
                                    د فعالیت جواز
                                </span><br />
                                <span>
                                    Working License
                                </span>
                            </h4>
                        </div>
                    </div>

                    <div style=" border: 1px solid black; height:150px; width:300px; margin-top:-195px;margin-right:20px; margin-bottom:100px;">

                        <div class="text-center font-weight-bold" style="color:black;">
                            <span class="text-center" style="padding:4px;">
                                جمهوری اسلامی افغانستان
                            </span><br />
                            <span class="text-center">
                                وزارت معارف
                            </span><br />
                            <span class="text-center">
                                ریاست تعلیمات خصوصی و برون مرزی
                            </span><br />
                            <span class="text-center">
                                د افغانستان اسلامی جمهوریت
                            </span><br />
                            <span class="text-center">
                                د پوهنی وزارت
                            </span><br />
                            <span class="text-center">
                                د خصوصي زده کړو او له پولې نه  بهر د تعلیمي
                            </span><br />
                            <span class="text-center">
                                مؤسسو ریاست
                            </span><br />
                        </div>


                    </div>

                    <div style=" border: 1px solid black; height:90px; width:320px; margin-top:-250px; margin-right:650px; margin-bottom:100px;">

                        <div class="text-center" style="color:black;">
                            <span>The Islamic Republic of Afghanistan</span><br />
                            <span>Ministry of Education</span> <br />
                            <span>Directorate of Private Educational</span><br />
                            <span>Institutions and Out of Border</span>
                        </div>
                    </div>

                    <div class="card-text text-left font-weight-bold">
                        <span>شماره جواز:</span><br />
                        <span>د جواز شمېره:</span><br />
                        <span>شماره ثبت:</span><br />
                        <span>د ثبت شمېر:</span><br />
                    </div>

                    <div class="card-text text-right font-weight-bold" style="margin-top:-80px;">
                        <span></span><br />
                        <span>:# License </span><br />
                        <span></span><br />
                        <span>:# Reg  </span><br />
                    </div>
                    <hr style="border:0.5px solid black;" />

                    <div class="card-text text-left font-weight-bold" style="margin-right:50px;">
                        <span>مؤسس/Founder</span><br />

                    </div>

                    <div class="card-text">
                        <div style="background-color: #fff;height: 175px;width: 150px;border-radius: 60%;border:1px solid black; float:left; margin-top:-20px;">

                        </div>
                    </div>
                    <br />
                    <br />

                    <div class="card-text text-center font-weight-bold">
                        @*font-family:  Arabic Typesetting, serif;"*@
                        <span style="color:black; font-size:20px;">موسسه تعلیمی خصوصی (..............................)</span><br />
                        <span style="color:black; font-size:20px;">(.............................) خصوصي زده کړو مؤسسه</span><br />
                        <span style="color:black; font-size:18px;">(.....................) Private Educational Institutions</span><br />
                    </div>
                    <br />
                    <br />
                    <div class="card-text">
                        <span style="font-size:15px;color:black;">
                            تصدیق می گردد  که دارنده این سند، موسسه خویش را در وزارت معارف ثبت و مطابق به قانون معارف و مقرره موسسات تعلیمی خصوصی در جهت ارایه خدمات تعلیمی فعالیت می نماید
                        </span>
                        <br />

                        <span style="font-size:15px;color:black;">
                            تصدیق کېږي چې د دغه سند لرونکي دخپل تعلیمي مؤسسه د پوهنې له وزارت سره ثبت او د پوهنې وزارت د قانون او د خصوصي زده کړو د مؤسسو و د مقررې پراساس ټولنې ته تعلیمي خدمات وړاندې کوي.
                        </span>
                        <br />

                        <span style="font-size:12.5px;color:black;">
                            This certifies that the holder of this document has registered their institution with the Ministry of Education, and is authorized to deliver quality educational
                        </span>
                        <span style="font-size:12.5px;color:black;">services in accordance with the Education Law and Private Institution Regulation.</span>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="card-text text-left" style="margin-right:100px;color:black;">
                        <span class="font-weight-bold">-----------------------</span><br />
                        <span class="font-weight-bold" style="margin-right:20px;">
                            وزیرمعارف/
                            د پوهنې وزیر
                        </span><br />
                        <span></span>

                    </div>

                    <div class="card-text text-right" style="color:black;">
                        <span>: Issue Date</span><br />
                        <span>: Valid Date</span><br />
                        <span>: Established Date</span><br />
                        <span>: Institution Type</span><br /><br />
                        <span class="font-weight-bold">--------------------------------------------- : Address</span><br />
                    </div>

                    <div class="card-text text-right" style="color:black;">
                        <span>تاریخ صدور/دصدور نېټه: </span><br />
                        <span>: Valid Date</span><br />
                        <span>: Established Date</span><br />
                        <span>: Institution Type</span><br /><br />
                        <span class="font-weight-bold">--------------------------------------------- : Address</span><br />
                    </div>
                </div>
            </div>
                @*<div class="card-footer text-muted">
                2 days ago
            </div>*@
            </div>



