@model OLS.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
}

<div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
        <h3 class="text-themecolor">
            تغیر پاسورد / پټ نوم بدل کړی / Change Password        </h3>
    </div>

</div>

   
        <div class="card">
            <div class="card-body">
                
                <form asp-action="ChangePassword">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="CurrentPassword" class="control-label"></label>
                            <input asp-for="CurrentPassword" class="form-control" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label"></label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="ثبت / ثبت / Save" class="btn btn-info" />
                      @*<a class="btn btn-info text-uppercase waves-effect waves-light" asp-controller="Account" asp-action="RegisterStaff"> قبلی/مخکی/Back </a>*@
                    </div>
                    @if (ViewBag.Message != null)
                    {
                        //  <div><span class="text-info">@ViewBag.Message</span></div>
                        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                        <script src="~/sweetalert/sweetalert.min.js"></script>
                        <script type="text/javascript">
                                                  
                        swal({
                            title: "@ViewBag.Message",
                            text: "حساب موفقانه ایجاد گردید / تاسو په بریالیتوب سره یو حساب جوړ کړی",
                            icon: "success",
                            button: "OK",
                        });
                                                    //    .then(okay => {
                                                    //    if (okay) {
                                                    //        window.location.href = "/Account/RegisterStaff";
                                                    //    }
                                                    //});
                        </script>

                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </form>
                    
                </div>
            
        </div>
    


