@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @*@if (ViewBag.AppSubMessage != null)
                    {
                        @ViewBag.AppSubMessage

                    }*@

                @if (ViewBag.Message != null)
                {
                    //  <div><span class="text-info">@ViewBag.Message</span></div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                    <script src="~/sweetalert/sweetalert.min.js"></script>
                                    <script type="text/javascript">
                                                    
                                                    swal({
                                                        title: "@localizer[ViewBag.Message]",
                                                        text: "@localizer["Text"]",
                                                        icon: "success",
                                                        button: "OK",
                                                    })
                                                        .then(okay => {
                                                        if (okay) {
                                                            window.location.href = "/Account/ForgotPassword";
                                                        }
                                                    });
                                    </script>}
            </div>
        </div>
    </div>
</div>